<style>.subscribe-button {
    background-color: rgba(255, 0, 0, 0.858);
    color: rgba(255, 255, 255, 0.911);
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 2px;
    cursor: pointer;
    margin: right;
    transition background-color: 1s, color: 1s;
}

.subscribe-button:hover {
    opacity: 1;
    background-color: brown;
}

.subscribe-button:active {
    opacity: 0.7;
}

.join-button {
    backgroung-color: white;
    color: blue;
    border-color: blue;
    border-radius: 5px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    transition: background-color;
}

{}

1s,
color: 1s;

}
.join-button:hover {
    background-color: blue;
    opacity: 1;
    color: white;
}
.join-button:active {
    opacity: 0.7;
}
.tweet-button {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    margin: left;
}
.tweet-button: hover {
    box-shadow: 5px 5px 10px black;
}
.tweet-button:active {
    opacity: 0.2;
}
</style>